<div class="sticky-bottom">
<ul class="list-unstyled ">
  <!-- Chat Message  -->

    <div>
      <app-chat-message
        *ngFor=" let displayMessageData of channelMessageContainer; trackBy: trackByMessage"
        [sentTime] = 'displayMessageData.sentTime'
        [content] = 'displayMessageData.content'
        [sender] = "displayMessageData.senderName"
        [isUserSender] = "displayMessageData.isUserSender"
      >
      </app-chat-message>
    </div>

  <app-message-input
    (messageDataEmitter)="sendMessageToChannelAndDatabase($event)">
  </app-message-input>
</ul>



</div>
